<!doctype html>
<html>

<head>
    <title>{% block title %}{% endblock %} - Flaskr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>
    <header>
        <h1><a id="sign" href="{{ url_for('hello_world') }}">GranTON Multisig Wallet</a></h1>
        <div id="account">
            <div id="btn-login">
                <button onclick="kevin.login()">Connect Wallet</button>
            </div>
        </div>
    </header>
    
    <nav>
        <ol>
            <li><a href="{{ url_for('hello_world') }}">Dashboard</a></li>
            <li><a href="{{ url_for('tasks') }}">Tasks</a></li>
            <li><a href="{{ url_for('send') }}">Send</a></li>
            <li><a href="{{ url_for('setting') }}">Setting</a></li>
        </ol>   
    </nav>

    <section class="content">
        {% block content %}{% endblock %}
    </section>
</body>

</html>